<div class="panel panel-default center">
    <div class="panel-heading">
        <h3 class="panel-title">
            <a data-toggle="collapse" href="#category-{{index}}" class="category-title" id="category-title-{{index}}"
               data-type="text" data-pk="{{category.id}}" data-resource="category" data-name="title"
                data-url="{{api_category_path category.id}}">
                {{category.title}}
            </a>
        </h3>
        <button id="category-edit-{{index}}" class="btn btn-primary">Редактировать</button>
        <button id="category-delete-{{index}}" data-url="{{api_category_path category.id}}"
                class="btn btn-danger category-delete">Удалить</button>
    </div>

    <div id="category-{{index}}" class="videos panel-collapse collapse">
        <div class="panel-body">
            <ul class="list-group">
                {{#each category.videos}}
                    {{> videos/_video video=this index=@index }}
                {{/each}}
            </ul>

            <div class="panel panel-default add-category">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <a class="btn btn-primary" data-toggle="collapse" href="#new-category-{{index}}">
                            Добавить урок
                        </a>
                    </h3>
                </div>
                <div id="new-category-{{index}}" class="panel-collapse collapse">
                    <div class="panel-body">
                        <label id="new-category-name-title" for="new-category-{{index}}-name">Название:</label>
                        <a href="#" id="new-category-{{index}}-name" class="new-video-name" data-type="select" data-placeholder="Обязательно"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>